article.center {
    float: left;
    box-sizing: border-box;
    width: 700px;
    margin: 10px;
    padding: 2px;
    border-color: rgb(7, 58, 244);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgb(220, 247, 205);
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;

 } 
 article.center h2 {
  padding: 20px 10vw 30px;
  text-align: center;
}
article.center > p {
  margin: 30px 60px;
  
}
 section.gallery {
  position: relative;
  width: 100%;
}
 figure {
    float: left;
    width: 35vw;
    margin: 2vh 0;
 }
 article:nth-child(even)>figure {
  float: right;
}
figure img {
  display:block;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
figcaption {
  text-align: center;
  clear: both;
  color: rgb(7, 58, 244);
  font-size: 14px;
}
 .topnav a {
    float: left;
    color: rgb(22, 29, 225);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    position: sticky;
  }
  
  .topnav a:hover {
    background-color: rgb(242, 164, 226);
    color:rgb(7, 58, 244);
  }
  
  .topnav a.active {
    background-color: rgb(220, 247, 205);
    color: rgb(7, 58, 244);
  }
 .topnav {
  background-color: rgb(220, 247, 205);
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  position: sticky;
  overflow: hidden;
  top: 0;
  }